.carousel
	&-slide
		padding-top: 150px
		padding-bottom: 170px
	&-item
		width: 590px
		img
	&-control-next-icon
		width: 30px
		height: 50px
		background-image: url(../img/slide/right.svg)
	&-control-prev-icon
		width: 30px
		height: 50px
		background-image: url(../img/slide/left.svg)