.modals
	position: fixed
	width: 100vw
	height: 100vh
	top: 0
	background: rgba(0, 0, 0, .56)
	&__item
		position: absolute
		width: 382px
		min-height: 402px
		left: 50%
		top: 50%
		padding: 36px 26px 40px 26px
		transform: translate(-50%, -50%)
		background: #F2F2F2
	&__close
		position: absolute
		top: -16px
		right: -33px
		font-size: 28px
		color: $red
	form
		margin-right: auto
		margin-left: auto