include ../mixins/_description.pug
.catalog
	.container 
		.row
			.col-xl-10.offset-1 
				h2.title Каталог пульсометров
				ul.catalog__tabs 
					+tab('Для фитнеса', 'catalog__tab_active')
					+tab('для бега')
					+tab('для триатлона')
				.catalog__content 

