section.consultation
	.container 
		.row 
			.col-lg-10.offset-lg-1.col-12
				h2.title.title_left Получите бесплатную консультацию #[br] по подбору пульсометра 
				.consultation__descr Просто заполните форму заявки и мы перезвоним вам в течении 10 минут
				form.feed-form(action="#", method="get")
					input(type="text", name="name", placeholder="Ваше имя")
					input(type="tel", name="tel", placeholder="Ваш телефон")
					input(type="email", name="email", placeholder="Ваш E-mail")
					button.button.button_submit заказать кОНСУЛЬТАЦИЮ