form.feed-form(action="#", method="get")
	input(type="text", name="name", placeholder="Ваше имя")
	input(type="tel", name="tel", placeholder="Ваш телефон")
	input(type="email", name="email", placeholder="Ваш E-mail")
	button.button.button_submit заказать кОНСУЛЬТАЦИЮ