footer.map
	script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab49e65f5c652f1d5390905ee549414b405fe0909277359b9274bad80a5f62c94&amp;width=100%&amp;height=630&amp;lang=ru_RU&amp;scroll=false")
	.map__contacts
		address.map__addr Москва, Мясницкий проезд, д.3с1
		a.map__phone(href="tel:+74999228974") 8 (499) 922-89-74
		.map__links
			.map__img
				img(src="img/map/facebook.svg", alt="facebook")
			.map__img
				img(src="img/map/instagram.svg", alt="instagram")
			.map__img
				img(src="img/map/pinterest.svg", alt="pinterest")
