.promo 
	.container 
		.row
			.col-lg-10.offset-lg-1.col-12
				include _header
				.promo__wrapper 
					h1.promo__title Подбор пульсометра
					h2.promo__subtitle с учётом Вашего уровня подготовки
					.promo__icons 
						.promo__icon 
							img(src="img/header/timer.png", alt="timer")
							| Время подбора: 10 минут
						.promo__icon 
							img(src="img/header/app.png", alt="app")
							| Бесплатная доставка
						.promo__icon 
							img(src="img/header/messages.png", alt="messegas")
							| Ответим на все вопросы
					button.button.button_main заказать кОНСУЛЬТАЦИЮ
					.promo__link 
						| или
						a(href="#") ПЕРЕЙТИ В КАТАЛОГ