include ../mixins/_description.pug
section.rewievs 
	.container 
		.row 
			.col-xl-10.offset-xl-1.col-12
				.title отзывы клиентов
				.rewievs__content 
					+rewievs-item('photo_1.png', 'Ирина Иванченко', '2 полумарафона', 'Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же. <br><br> Новые цели - новый гаджет! <br><br> Спасибо, RunSmart! ')
					+rewievs-item('photo_2.png', 'Иван Сёмочкин', '1 полумарафона', 'Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. <br> Купил пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц вперёд. <br><br> С ними подготовился к своему первому полумарафону! Спасибо!!!')
					+rewievs-item('photo_3.png', 'Юлия Дашкина', '2 полумарафона', 'Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать. <br><br> Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и не намерена останавливаться! <br><br> Спасибо!!!')